 body{
      background-color: antiquewhite;
      height:100%;
      width:100%;
}
img{
    height: 10vw;
}
#yo{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    align-items: center;
    box-shadow: 2vw 2vw 5vw rgba(0,0,0,0.5);
    padding: 10px;
}
ul{
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 5vw;
list-style: none;
padding: 0;
margin: 0;
}
p{
    font-size: 1.5vw;
}
video{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
}