.git
.gitattributes
.gitignore
.vscode
backend/.venv
backend/.gitignore
backend/.python-version
backend/__pycache__
backend/ai/*.ipynb
backend/ai/earthquake_model/
backend/kafka/*.pem
backend/kafka/*.cert
backend/kafka/*.key
backend/README.md
backend/uv.lock
frontend/.next
frontend/out
node_modules
*.log
.env
